<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Cart</h2>
  <table class="table-auto">
    <%= render cart.line_items %>

    <tfoot>
      <tr>
        <th class="text-right pr-2 pt-2" colspan="3">Total:</th>
        <td class="text-right pt-2 font-bold border-t-2 border-block">
          <%= number_to_currency(cart.total_price) %>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="flex mt-1">
    <%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
    <% unless current_page?(new_order_path) %>
      <%= button_to 'Checkout', new_order_path, method: :get, class: 'ml-4 rounded-lg py-1 px-2 text-black bg-green-200' %>
    <% end %>
  </div>
</div>

