<%= turbo_frame_tag(dom_id(product)) do %>
  <li class="flex-1 mb-6 <%= 'product-highlight' if product.updated_at > 10.seconds.ago %>">
    <%= button_to line_items_path(product_id: product), method: :post, class:  do %>
      <%= image_tag(product.image_url, class: 'object-contain w-40 h-48 shadow mr-6') %>
    <% end %>
    <div>
      <h2 class="font-bold text-lg mb-3"><%= product.title %></h2>
      <p><%= sanitize(product.description) %></p>
      <div class="mt-3">
        <%= number_to_currency(product.price) %>
        <%= button_to 'Add to Cart', line_items_path(product_id: product), form_class: 'inline', class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
      </div>
    </div>
  </li>
<% end %>